html {
    background-color: #fafafa;
}

span.name {
    color: #343434;
    padding-bottom: 30px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 800px;
    font-size: 80px;
    display: block;
    font-weight: bolder;
    padding-left: 370px;
}

.navigation {
    list-style: none;
    display:inline-block;
    font-size: 20px;
    margin: auto;
    padding: 0px 25px 0px 25px;
    color: #474747;
    text-align: justify;
    position: relative;

}

#nav_links {
    display: block;
    bottom: 0px;
    padding: 0px 0px;
    bottom: 0;
    position: absolute;
    width: 800px;
    padding-left: 400px;
}

#header {
    background-color: #fafafa;
    width: auto;
    height: 10px;
    /* border: 3px solid  green; */
    padding: 70px;
    position:relative;
}

#site {
    background-color: #fafafa;
    width:auto;
    height:auto;
}

.dash {
    color: #fafafa
}

a {
    color: #343434;
    text-decoration: none;
}

a:hover {
    color:darkcyan
}

#form {
    padding-top: 20px;
    width: 60%;
    margin: auto;
}
#comment_input {
    height:200px;
}

input[type=text], select, textarea {
    width: 100%;
    border: 1px solid light grey
}

#success_panel {
    display: none;
    background-color: #fafafa;
    padding: 50px;
    width: 60%;
    margin: auto;
}
#success {
    float: right;
}

img {
    float:left;
}